<div class="modal-header">
  <h5 class="modal-title">Crear Nueva Solicitud</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" class="form-control" [(ngModel)]="solicitud.descripcion_solicitud" name="descripcion"></textarea>
    </div>

    <!-- Campo para tipo de solicitud -->
    <div class="col-md-6 mb-4">
      <label class="form-label">Tipo de solicitud</label>
      <select name="solicitudForm" [(ngModel)]="solicitud.id_tipo_solicitud" class="form-control">
        <option [value]="null" disabled selected>Seleccione tipo de solicitud</option>
        <option *ngFor="let tipo of tipoSolicitudes" [value]="tipo.id_tipo_solicitud">
          {{ tipo.descripcion_tipo_solicitud }}
        </option>
      </select>
    </div>

    <!-- Campo para ubicaciones -->
    <div class="col-md-6 mb-4">
      <label class="form-label">Ubicación de la solicitud</label>
      <select name="ubicacionForm" [(ngModel)]="solicitud.id_ubicacion_solicitud" class="form-control">
        <option [value]="null" disabled selected>Seleccione Ubicación</option>
        <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id_ubicacion">
          {{ ubicacion.descripcion_ubicacion }}
        </option>
      </select>
    </div>



    <div class="mb-3">
      <label for="ciudadano" class="form-label">Ciudadano</label>
      <select 
        id="ciudadano" 
        class="form-control" 
        [(ngModel)]="solicitud.id_ciudadano_solicitud" 
        name="ciudadano"
        required>
        <option [value]="" disabled selected>Seleccione un ciudadano</option>
        <option *ngFor="let ciudadano of ciudadanos" [value]="ciudadano.numero_identificacion_ciudadano">
          {{ ciudadano.nombre_ciudadano }} - {{ ciudadano.numero_identificacion_ciudadano }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad solicitada</label>
      <input 
        id="cantidad" 
        type="number" 
        class="form-control" 
        [(ngModel)]="solicitud.cantidad_solicitud" 
        name="cantidad"
        min="0"
      />
    </div>

    <div class="mb-3">
      <label for="createMap" class="form-label">Selecciona una ubicación en el mapa:</label>
      <div id="createMap" class="map-container" style="height: 400px; width: 100%;"></div>
      <p class="text-muted mt-2">Coordenadas seleccionadas: {{ solicitud.geolocalizacion }}</p>
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <button type="button" class="btn btn-secondary" (click)="triggerFileInput()">Subir Foto</button>
      <input 
        id="uploadPhoto" 
        type="file" 
        accept="image/*" 
        class="d-none" 
        [(ngModel)]="solicitud.foto_solicitud"
        (change)="subirFoto($event)" 
      />
      <div *ngIf="solicitud.foto_solicitud">
        <img 
          [src]="solicitud.foto_solicitud" 
          alt="Foto subida" 
          class="img-thumbnail mt-2" 
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
</div>
