<div class="modal-header">
  <h5 class="modal-title">Crear Nueva Solicitud</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" class="form-control" [(ngModel)]="solicitud.descripcion_solicitud" name="descripcion"></textarea>
    </div>

    <div class="mb-3">
      <label for="tipoSolicitud" class="form-label">Tipo de Solicitud</label>
      <input 
        id="tipoSolicitud" 
        type="number" 
        class="form-control" 
        [(ngModel)]="solicitud.id_tipo_solicitud" 
        name="tipoSolicitud" 
      />
    </div>

    <div class="mb-3">
      <label for="ubicacion" class="form-label">Ubicación</label>
      <input id="ubicacion" type="number" class="form-control" [(ngModel)]="solicitud.id_ubicacion_solicitud" name="ubicacion" />

    </div>

    <div class="mb-3">
      <label for="ciudadano" class="form-label">Ciudadano</label>
      <input 
        id="ciudadano" 
        type="text" 
        class="form-control" 
        [(ngModel)]="solicitud.id_ciudadano_solicitud" 
        name="ciudadano" 
      />
    </div>

    <div class="mb-3">
      <label for="createMap" class="form-label">Selecciona una ubicación en el mapa:</label>
      <div id="createMap" class="map-container" style="height: 400px; width: 100%;"></div>
      <p class="text-muted mt-2">Coordenadas seleccionadas: {{ solicitud.geolocalizacion }}</p>
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <button type="button" class="btn btn-secondary" (click)="triggerFileInput()">Subir Foto</button>
      <input 
        id="uploadPhoto" 
        type="file" 
        accept="image/*" 
        class="d-none" 
        (change)="subirFoto($event)" 
      />
      <div *ngIf="solicitud.foto_solicitud">
        <img 
          [src]="solicitud.foto_solicitud" 
          alt="Foto subida" 
          class="img-thumbnail mt-2" 
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
</div>
