<div class="container">
    <div class="row">
        <div class="col-12 text-center" rows="2">
            <h1 class="title">Bienvenido al Sistema de Geolocalización</h1>
        </div>
    </div>
    <div class="row">
        <!-- Mapa en el lado izquierdo -->
        <div class="col-md-6">
            <div id="map" class="map-container"></div>
        </div>
        <div class="col-md-6">
            <div class="introduccion">
                <h3 style="font-family:verdana;">Este sistema es para ti. </h3>
                <p class="intro-text">
                    <br/>En este sistema de geolocalización, diseñado específicamente para la gestión del municipio de </p>
                <br/><h4>Anserma, Caldas</h4><br/>
                <p class="intro-text" style="text-size-adjust: 6;">
                    Aquí podrás encontrar reportes de las solicitudes y ayudas que la Alcaldía ha realizado en pro del 
                    bienestar de sus habitantes. A través de esta plataforma, queremos mantener a los ciudadanos más informados 
                    y conscientes de las acciones realizadas en su propio municipio, mejorando la transparencia y la participación. 
                    <br/><br/>¡Bienvenidos y que disfruten de una navegación intuitiva y útil!
                </p>
            </div>
        </div>
    </div>

    <!-- Fondo con imagen y texto encima -->
    <div class="row">
        <div class="col-12 background-section">
            <h2 class="overlay-text">Bienvenidos a nuestro portal de geolocalización</h2>
        </div>
    </div>

    <!-- Sección de tres columnas con mini imágenes y enlaces -->
    <div class="row">
        <div class="col-md-4">
            <div class="modal-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9JslHKDYXdGqjiEBI7Bm5Qk8Jh_r6Oes4EA&s" alt="Imagen 1" class="modal-image" style="max-width: 50%; height: 50%; border-radius: 10px;">
                <br/><p>Nuestro programa ha dispuesto más de 100 ayudas para sus habitantes</p>
                <a href="#">Ayudas</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-container">
                <img src="https://www.municipios.com.co/fotos/327-2019-05-01-13-46-150-0-L.jpg" alt="Imagen 2" class="modal-image" style="max-width: 50%; height: 50%; border-radius: 10px;">
                <br/><p>Nuestros ciudadanos estan contentos y satisfechos</p>
                <a href="#">Ciudadanos</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="modal-container">
                <img src="https://caracol.com.co/resizer/v2/E4QWLEKHTFBRNDSXTEIFUBXA3Y.jpg?auth=06cfa8b01c71a446f8865878e881db81380af5c37977f7892b1b9588fb2d635c&width=600&height=600&quality=70&smart=true" alt="Imagen 3" class="modal-image" style="max-width: 50%; height: 50%; border-radius: 10px;">
                <br/><p>Hemos atendido mas de 130 solicitudes de la ciudadanía</p>
                <a href="#">Solicitudes</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="row footer">
        <div class="col-12 text-center">
            <p>&copy; 2024 Derechos de autor reservados | <a href="mailto:contacto@plataforma.com">Contacto: Fabio Andrés López Salazar</a></p>
        </div>
    </div>
</div>
