.navbar {
  margin-bottom: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.btn-danger {
  margin-top: auto;
  transition: all 0.3s ease;
}

.btn-danger:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

:host {
  display: block;
  padding-top: 70px;
}

main {
  margin-top: 60px;
}
