<div class="modal-dialog modal-lg">
  <div class="modal-content p-3">
    <div class="modal-header">
      <h5 class="modal-title">Editar Solicitud</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">{{ obtenerTitulo('descripcion_solicitud') }}</label>
          <input [(ngModel)]="solicitud['descripcion_solicitud']" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngFor="let key of objectKeys(solicitud)">
          <div *ngIf="key !== 'id_solicitud' && key !== 'descripcion_solicitud' && key !== 'foto_solicitud'">
            <label class="form-label">{{ obtenerTitulo(key) }}</label>
            <input [(ngModel)]="solicitud[key]" class="form-control mb-3" />
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center mb-3">
          <label class="form-label">{{ obtenerTitulo('foto_solicitud') }}</label>
          <img [src]="solicitud['foto_solicitud']" alt="Foto de solicitud" class="img-fluid mb-2" style="max-height: 200px; border: 1px solid #ccc;" />
          <input type="file" id="uploadPhoto" class="form-control-file d-none" (change)="subirFoto($event)" accept="image/*">
          <button class="btn btn-sm btn-primary" (click)="triggerFileInput()">Subir Foto</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- Botón de cerrar -->
      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="guardar()">Guardar Cambios</button>
    </div>
  </div>
</div>
